

body {
  background-color: #f8f9fa;
}

#homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#homeTitle {
  margin-bottom: 3rem;
}

#homeSubtitle {
  font-size:  clamp(0.6rem, 1rem + 1.5vw, 1.5rem);
  color: #6c757d;
}

#homeCards {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;
  justify-content: center;
  width: 100%;
}

#homeCards .card {
  height: 100%;
  text-align: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

#homeCards .card-body {
  display: flex;
  flex-direction: column;
}

#homeCards .card-text {
  flex-grow: 1;
}

.card {
  min-height: 220px;
}

.btn-success {
  background-color: #ffa012;
  border-color: #ffa012;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.version {
  padding-top: 1.5rem;
  color: #8e9194;
}